@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://source.unsplash.com/1600x900/?weather") no-repeat
    center center fixed;
  background-size: cover;
  font-family: "Arial", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(240, 242, 245, 0.8);
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  width: 100%;
  max-width: 200px;
}

.city-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  max-width: 550px;
  word-wrap: break-word;
  transition: transform 0.3s, box-shadow 0.3s;
}

.city-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.ant-input-search-button {
  background-color: #1890ff;
  color: white;
}

.modal-content {
  padding: 2px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.weather-icon {
  font-size: 48px;
  margin-bottom: 10px;
}
